fastapi==0.135.3
uvicorn[standard]==0.44.0
pydantic==2.12.5
pydantic-settings==2.14.1

# Geoespacial
pyproj==3.7.2
rasterio==1.4.4

# Cálculo solar
pysolar==0.13

# Datos y análisis
pandas==2.3.3
numpy==2.4.2
requests==2.31.0
httpx==0.26.0

# Caché
cachetools==6.2.6

# Routing
osmnx==2.1.0
networkx==3.3
scipy==1.17.1
